<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}} to your profile!</h2>
  </div>
</div>

<div class="row mt-4">
  <h3>Your Reviews:</h3>
  {{#if Reviews.length}}
  <div class="col-md-6 review-list">
    <h3>Your Reviews:</h3>

    {{#each Reviews as |review|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="get/reviews/{{id}}">{{description}} {{id}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{review.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>