<div id="profilecontainer">
  <div class="row">
    <div >
      <h2 id="welcomeh2">Hello {{name}}! Welcome to your profile!</h2>
    </div>
  </div>

  <div class="mt-4" id="reviewscontainer">
    {{#if Reviews.length}}
    <h3 class="Profileh3">Your Reviews:</h3>
    <div class="review-list">
      

      {{#each Reviews as |review|}}
      
        <div class="card mb-2 w-75" >
          <a class="restaurants" href="/restaurant/{{review.Restaurant.id}}">
            <h3>Restaurant Name: {{review.Restaurant.restaurant_name}}</h3>
          </a>
          <h4 class="reviewcardh4">Rating: {{rating}}/10 🐾's</h4>
          <p>Posted on: {{format_date date_created}}</p>
          <p>"{{description}}"</p>
          <div class="col-md-4" >
          <button class="btn btn-sm delete btn-danger" data-id="{{review.id}}">DELETE</button>
          <button class="btn btn-sm  btn-warning" data-id="{{review.id}}">EDIT</button>
         
        </div>
        </div>
        
      
      {{/each}}
    </div>
    {{else}}
    <div class="suchwowdiv">
    <img src="https://i.imgflip.com/2/4rsexl.jpg" id="suchwow" alt="its empty">
    </div>
    <h2 class="suchwowh2">Go leave some reviews!</h2>
    {{/if}}
  </div>
</div>


<script src="./js/profile.js"></script>