<div class="text-center">
    <h2>{{restaurant_name}}</h2>
    <p>RATING:{{Reviews.[0].rating}}</p>
    {{!-- Render reviews --}}
    {{#if Reviews.length}}
    <div class="col-md-6 restaurant-list">
        <h3>REVIEWS:</h3>
         {{#each Reviews as |review|}}
         <div class="card">
            <p>
                {{review.description}}
                {{rating}}
            </p>

            <p>Created by {{name}} on {{format_date date_created}}</p>
         </div>
         {{/each}}
    </div>
    {{/if}}
    <form class="new-review-form form">
        <div class="form-group">
            <label for="review">Write your review here:</label>
            <textarea class="form-input" id="review" name="review"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Review!</button>
    </form>
</div>
